.list-employee {
  display: flex;
  list-style: none;
  width: 100%;
  max-width: 400px;
  justify-content: space-between;
  align-items: center;
  margin: 12px auto;
}

.name-month{
  color: #38a49d;
}

.hours-color{
  color: #38a49d;
}

.list_item_employee {
  position: relative;
  width: 100%;
}

.list_item_employee.active::before {
  content: "";
  position: absolute;
  background: #38a49d;
  width: 100%;
  max-width: 50px;
  height: 70px;
  top: -40px;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 6px 5px 0px rgb(85 119 102 / 31%);
}

.list_item_employee span {
  text-align: center;
  display: block;
  position: relative;
  z-index: 2;
}
